/* Container */
#cont {
	padding: 0px;
}
/* Navigation Bar*/
.logo {
	width: 30px;
	height: 30px;
}
@media (min-width: 768px) {
  .social > li > a {
  	padding: 10px 3px 10px 3px;
  }
}
#navigation {
	margin-bottom: 0px;
}
#navigation .container {
	margin-bottom: -1px;
}
@media (max-width: 767px) {
  .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .social li {
	width: 10%;
	float: left;
  }
  .carousel-caption p {
    font-size: 12px;
  }
  .carousel-caption h1 {
    font-size: 20px;
  }
  .btn {
    font-size: 12px;
	padding: 5px;
  }
}
/* Carousel */
.carousel-inner {
  width:100%;
  max-height: 450px;
}
.carousel .item {
  max-height: 450px;
}
.carousel-caption {
	background: rgba(0, 0, 0, 0.45);
	border-radius: 5px;
	padding: 3px 3px 25px 3px;
}